<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/default.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="~/img/french_fries_chips_potatoes_food_fast_food_icon_207983.ico" />
</head>
<body>
    <nav class="nav justify-content-end" style="background-color:lightgray;">
        <a class="nav-link active" asp-controller="Blah" asp-action="Index">Home</a>
        <a class="nav-link" asp-controller="Blah" asp-action="GradeCalc">Grade Calculator</a>
    </nav>

    <h1>Connor Salvesen</h1>
    <img src="~/img/IMG_3058.jpg" />
    <p>This is a picture of me doing something I really really enjoy! Coding ASP.NET</p>

    <div>
        @RenderBody()
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="~/js/GradeCalc.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/jquery/jquery-3.6.0.min.js"></script>
</body>
</html>
